html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/*.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}*/

.intro {
    color: black;
    height: 80vh;
}

.name-text {
    padding-top: 27vh;
}

.title {
    font-size: 2.25em;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.56px;
}

.recent-update-title {
    font-family: 'Playfair Display', serif;
    font-size: 0.75em;
    letter-spacing: 0.56px;
    padding-top: 30px;
}

#recent-update-text {
    padding-top: 5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.125em;
    color: #919191;
    letter-spacing: 0.45px;
    height: 4.5vh;
}

#recent-update-date {
    font-size: 0.6111em;
    font-style: italic;
}

.nav-block {
    font-family: 'Playfair Display', serif;
    padding-top: 20px;
    font-size: 1.5em;
    opacity: 0.6;
}

.nav-title {
    padding-top: 10px;
}

img:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;

}

.teams:before {
    background-image: linear-gradient(to right bottom, #fff 0, #fff 50%, #20CE9A 0, #20CE9A);
    content: " ";
    height: 10rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
}

.teams {
    color: white;
    background-color: #20CE9A;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 11.5rem;
    transition: opacity .3s ease;
    -webkit-transition: opacity 0.3s ease;
}

img {
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.29);
}

.team-date-text {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.56px;
}

.team-role-text {
    padding-top: 5px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.56px;
}

.team-row {
    padding-top: 60px;
    font-size: 0.9em;
}

.communities:before {
    background-image: linear-gradient(to left top, #fff 0, #fff 50%, #20CE9A 0, #20CE9A);
    content: " ";
    height: 10rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
}

.communities {
    color: #4A4A4A;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 11.5rem;
    transition: opacity .3s ease;
}

.communities .title {
    text-align: right;
}

.community-tile {
    padding-top: 80px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25em;
    color: #676767;
    letter-spacing: 0.3px;
    text-align: justify;
}

.projects {
    color: white;
    position: relative;
    padding-bottom: 8rem;
    padding-top: 11.5rem;
    background-color: #FF8686;
    transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;

}

.projects:before {
    background-image: linear-gradient(to bottom right, #fff 0, #fff 50%, #FF8686 0, #FF8686);
    content: " ";
    height: 10rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
}

.project-subject {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    letter-spacing: 0.56px;
    padding-top: 80px;
}

.project-teaching-helper {
    padding-top: 20px;
    font-size: 1.25em;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.47px;
}

.teaching-container {
    padding-top: 20px;
}

li {
    margin: 10px 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.56px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.teaching-description-box {
    background: rgba(255, 255, 255, 0.83);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
}

.teaching-description-text {
    margin: 20px;
    color: #4A4A4A;
    font-family: 'PT Sans', sans-serif;
}

.hack-title {
    padding-top: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    letter-spacing: 0.38px;
}

.hack-date {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    padding-top: 5px;
    letter-spacing: 0.38px;
}

.hack-description {
    padding-top: 5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    letter-spacing: 0.38px;
    line-height: 1.7rem;
}

.links:before {
    background-image: linear-gradient(to bottom left, #ff86c3 0, #ff86c3 50%, #fff 0, #fff);
    content: " ";
    height: 10rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
}

.links {
    position: relative;
    padding-bottom: 8rem;
    padding-top: 11.5rem;
    color: #4A4A4A;
    transition: opacity .3s ease;
    -webkit-transition: opacity 0.3s ease;
}

.links-contact-text {
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.56px;
}


ul.link-list>li {
    margin: 20px 0;
    letter-spacing: 0.56px;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;

}

a {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-decoration: none;
    color: #86c3ff;
}